<h2>{{title}}</h2>
<p>Welcome {{name}} - Name is coming using interpolation</p>
<p>Expressions: {{5+22}} / {{48-28}} / {{5*22}} / {{5/22}}</p>
<p>String Concatination: {{name + " Sudhan"}}</p>
<p>Javascript properties: {{name.length}}</p>
<p>Javascript Methods: {{name.toUpperCase()}}</p>
<p>Call methods: {{greetUser()}}</p>

<!-- cannot do -->
<h4>Not possible with Interpolation</h4>
<p>Assignment: a=2+2</p> <!--{{a=2+2}}-->
<p>window.location.href: </p> <!--{{window.location.href}}-->
<p>window.location.href with property: {{gethref}}</p> 
