<h1 class="">{{pageTitle}}</h1>

<ang-routing></ang-routing>
<ang-student-details></ang-student-details>
<ang-student-list></ang-student-list>
<ang-employee-details></ang-employee-details>
<ang-employee-list></ang-employee-list>
<ang-pipes></ang-pipes>
<ang-parentcomponent></ang-parentcomponent>
<ang-ngfordirective></ang-ngfordirective>
<ang-ngswitchdirective></ang-ngswitchdirective>
<ang-ngifdirective></ang-ngifdirective>
<ang-twowaybinding></ang-twowaybinding>
<ang-templatereferencevariables></ang-templatereferencevariables>
<ang-eventbinding></ang-eventbinding>
<ang-classbinding></ang-classbinding>
<ang-propertybinding></ang-propertybinding>
<ang-interpolation></ang-interpolation>