/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
h2{
    margin-top:50px;
}
.btn{
    padding:5px 10px;
    min-width:75px;
    color:#444;
    background-color: #e4e4e4;
}   
.btn.active{
    background-color:#006edc;
    color:#fff;
}
.btn + .btn{
    margin-left:10px;
}